# Either set the values manually or use the script `configure-secrets.sh`

# This has to be the same as in the mosquitto.passwd
mqtt_broker_telegraf_password = "${MQTT_BROKER_TELEGRAF_PASSWORD}"

# Password for the influxdb
influxdb_password     = "${INFLUXDB_PASSWORD}"
influxdb_access_token = "${INFLUXDB_ACCESS_TOKEN}"

# Password for the Grafana UI (username admin)
grafana_password = "${GRAFANA_PASSWORD}"
